@import "tailwindcss";



.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


input:-webkit-autofill ~ label {
  top: -20px !important;
  font-size: 0.75rem !important; /* text-sm */
  color: rgb(107 114 128) !important; /* gray-500 */
}
